.profile {
  max-width: 40%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px;
}

.avatar {
  display: flex;
  max-width: 30%;
  border-radius: 50%;
  border: 5px dotted black;
}

.profileName {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 45px;
}

.profileTag,
.profileLocation {
  margin: 20px;
  font-size: 38px;
  color: #8a8b8e;
}

.stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats > li {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  font-size: 20px;
  text-align: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(241, 241, 241, 0.833);
}

.viewsList {
  border-left: 1px solid #d3d5e3;
  border-right: 1px solid #d3d5e3;
}

.label {
  padding-bottom: 10px;
  color: #8a8b8e;
}
.quantity {
  font-weight: bold;
  border-radius: 10px;
}
