.statisticsContainer {
  max-width: 50%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  border-bottom: 1px solid #d3d5e3;
}

.statList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.statList .statListItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: 0 0 3px #000;
}

.label {
  padding-top: 20px;
  font-size: 22px;
  color: #fff;
}

.percentage {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
